MODEL_2D:
  TYPE: "UNetResNet34"
  DUAL_HEAD: True
  NUM_CLASSES: 6
MODEL_3D:
  TYPE: "SCN"
  DUAL_HEAD: True
  NUM_CLASSES: 6
DATASET_SOURCE:
  TYPE: "VirtualKITTISCN"
  TRAIN: ("train",)
  VirtualKITTISCN:
    preprocess_dir: ""
    virtual_kitti_dir: ""
DATASET_TARGET:
  TYPE: "SemanticKITTISCN"
  TRAIN: ("train",)
  VAL: ("val",)
  TEST: ("test",)
  SemanticKITTISCN:
    preprocess_dir: "datasets/semantic_kitti/omniquerypreprocess/preprocess"
    semantic_kitti_dir: "datasets/semantic_kitti"
    merge_classes_style: "VirtualKITTI"
    pselab_paths: ("output/virtual_kitti_semantic_kitti/uda/xmuda/pselab_data/12-15_21-24-13.tatrain.npy",)
    label_mask_path: ""
DATALOADER:
  NUM_WORKERS: 4
OPTIMIZER:
  TYPE: "Adam"
  BASE_LR: 0.001
SCHEDULER:
  TYPE: "MultiStepLR"
  MultiStepLR:
    gamma: 0.1
    milestones: (25000, 28000)
  MAX_ITERATION: 30000
TRAIN:
  BATCH_SIZE: 8
  SUMMARY_PERIOD: 50
  CHECKPOINT_PERIOD: 2000
  CLASS_WEIGHTS: [1., 2.03402089, 1.20641905, 2.21588055, 2.59745666, 1.82057006]
  XMUDA:
    lambda_xm_src: 0.0
    lambda_xm_trg: 0.01
    lambda_pl: 1.0
    lambda_ce_trg: 1.0
VAL:
  BATCH_SIZE: 8
  PERIOD: 1000
OUTPUT_DIR: "output/@"
ADA:
  query_iters: [0.0,-1.0]
  r_threshold: 0.85
  budget: 3.0
  save_dir: "ADA/mask/virtual_kitti_semantic_kitti/xmuda_sfada_feat_ent"
  query_function_name: 'get_label_mask_by_feature_entropy_sam'
  batch_size: 1
  n_neighbors: 4
  load_mask_from_disk: False
  update_pselab: True
  pselab_save_dir: "ADA/pselab/virtual_kitti_semantic_kitti/xmuda_sfada_feat_ent"
SAM:
  CKPT: "SAM/SAM_weights/sam_vit_h_4b8939.pth"
  MODEL_TYPE: "vit_h"
  IMG_SIZE: (302,480)
  delete_road_mask: False