# compilation and distribution
__pycache__
_ext
*.pyc
*.so
build/
dist/
*.egg-info/

# Pycharm editor settings
.idea

# models and outputs
base_model/
datasets/
output/

SAM_weights


ADA/mask
ADA/pselab

draw/